.modal {
  position: absolute;
  margin: 0;
  height: 100%;
  width: 100%;

  text-align: center;
  padding: 40px 20px;
  border-top: 1px solid rgb(130, 130, 130);
  border-bottom: 1px solid rgb(130, 130, 130);
  background: linear-gradient(
    90deg,
    rgba(190, 190, 190, 1) 0%,
    rgba(243, 243, 243, 1) 25%,
    rgba(243, 243, 243, 1) 64%,
    rgba(190, 190, 190, 1) 100%
  );
}
.modal h1 {
  text-align: center;
  /* color: rgb(100, 100, 100); */
  color: #ae6e3d;
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.7);
  font-family: LibreBaskerville-Regular !important;
  text-transform: uppercase !important;
  font-size: 1.6rem;
  letter-spacing: 0.15em;
  word-spacing: 0em;
  line-height: 1.2em;
  text-transform: none;
  font-weight: normal;
}
.modal h2 {
  text-align: center;
  /* color: rgb(100, 100, 100); */
  color: #323232;
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.7);
  font-family: Arial, Helvetica, sans-serif !important;
  /* text-transform: uppercase !important; */
  font-size: 1.2rem;
  letter-spacing: 0.15em;
  word-spacing: 0em;
  line-height: 1.8em;
  text-transform: none;
  font-weight: normal;
}

.modal input,
textarea {
  width: 70%;
  margin: 5px 10px;
  border-radius: 5px;
  padding: 10px 12px;
  font-size: 1em;
  background: transparent;
  border-radius: 5px;
  background-color: transparent !important;
  outline: none;
  box-sizing: border-box;
}
.modal input,
textarea:focus {
  margin: 5px 10px;
  padding: 10px 12px;
  font-size: 1em;
  background: transparent;
  border-radius: 5px;
  background-color: transparent !important;
  outline: none;
  box-sizing: border-box;
}
.modal input,
textarea:active {
  margin: 5px 10px;
  padding: 10px 12px;
  font-size: 1em;
  background: transparent;
  background-color: transparent !important;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}
.modal input,
textarea:valid {
  margin: 5px 10px;
  border-radius: 5px;
  padding: 10px 12px;
  font-size: 1em;
  border: none;
  outline: none;
  background: transparent;
  background-color: transparent !important;
  border-color: rgb(50, 50, 50);
  border-width: 0px;
  box-shadow: inset 0px 0px 5px 2px rgb(0, 0, 0);
  appearance: menulist-button;
  background-color: rgb(232, 240, 254, 0.5) !important;
  background-image: none !important;
  color: -internal-light-dark(black, white) !important;
}
::placeholder {
  color: rgb(129, 2, 2);
}

/* ***** MOBILE ***** */
@media (max-width: 700px) {
  .modal input,
  textarea {
    width: 90%;
  }
}
