.vitaactiva input,
textarea {
  margin: 5px 10px;
  border-radius: 5px;
  padding: 6px 12px;
  font-size: 1em;
  background: transparent;
  border-radius: 5px;
  background-color: transparent !important;
  outline: none;
  box-sizing: border-box;
}
.vitaactiva input,
textarea:focus {
  margin: 5px 10px;
  padding: 6px 12px;
  font-size: 1em;
  background: transparent;
  border-radius: 5px;
  background-color: transparent !important;
  outline: none;
  box-sizing: border-box;
}
.vitaactiva input,
textarea:active {
  margin: 5px 10px;
  padding: 6px 12px;
  font-size: 1em;
  background: transparent;
  background-color: transparent !important;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}
.vitaactiva input,
textarea:valid {
  margin: 5px 10px;
  border-radius: 5px;
  padding: 6px 12px;
  font-size: 1em;
  border: none;
  outline: none;
  background: transparent;
  background-color: transparent !important;
  border-color: rgb(50, 50, 50);
  border-width: 0px;
  box-shadow: inset 0px 0px 5px 2px rgb(0, 0, 0);
  appearance: menulist-button;
  background-color: rgb(232, 240, 254, 0.5) !important;
  background-image: none !important;
  color: -internal-light-dark(black, white) !important;
}
::placeholder {
  color: rgb(129, 2, 2);
}
.BtnInput {
  margin: 5px 0;
  border-radius: 5px;
  margin: 0 10px;
  padding: 6px 12px;
  font-size: 1em;
  border: none;
  outline: none;
  background: transparent;
  background-color: transparent !important;
  border-color: rgb(50, 50, 50);
  border-width: 0px;
  box-shadow: inset 0px 0px 5px 2px rgb(0, 0, 0);
  appearance: menulist-button;
  background-color: rgb(232, 240, 254, 0.5) !important;
  background-image: none !important;
  color: -internal-light-dark(black, white) !important;
  transition: 0.2s ease-in-out;
}
.BtnInput:hover {
  color: #ae6e3d;
  box-shadow: inset 1px 1px 3px 2px #000;
}
.BtnInputAdd {
  width: 9rem;
  margin: 5px 0;
  border-radius: 5px;
  margin: 0 10px;
  padding: 6px 12px;
  font-size: 1em;
  border: none;
  outline: none;
  border-width: 0px;
  box-shadow: inset 0px 0px 5px 2px rgb(0, 0, 0);
  appearance: menulist-button;
  background-color: #a7d38c !important;
  color: white;
  transition: 0.2s ease-in-out;
}
.BtnInputAdd:hover {
  color: #a7d38c !important;
  background-color: white !important;
  box-shadow: inset 1px 1px 3px 2px #000;
}
.BtnInputConfirm {
  width: 9rem;
  margin: 5px 10px;
  padding: 10px 12px;
  border-radius: 5px;
  margin: 0 10px;
  font-size: 1em;
  border: none;
  outline: none;
  border-width: 0px;
  box-shadow: inset 0px 0px 5px 2px rgb(0, 0, 0);
  appearance: menulist-button;
  background-color: #a7d38c !important;
  color: white;
  transition: 0.2s ease-in-out;
}
.BtnInputConfirm:hover {
  color: #a7d38c !important;
  background-color: white !important;
  box-shadow: inset 1px 1px 3px 2px #000;
}
.BtnInputCancel {
  width: 9rem;
  margin: 5px 10px;
  padding: 10px 12px;
  border-radius: 5px;
  font-size: 1em;
  border: none;
  outline: none;
  border-width: 0px;
  box-shadow: inset 0px 0px 5px 2px rgb(0, 0, 0);
  appearance: menulist-button;
  background-color: rgba(129, 1, 1, 0.5) !important;
  color: white;
  transition: 0.2s ease-in-out;
}
.BtnInputCancel:hover {
  color: rgba(129, 1, 1, 0.5) !important;
  background-color: white !important;
  box-shadow: inset 1px 1px 3px 2px #000;
}
