.AppContainer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.greyLightBack {
  /* height: 100vh; */
  text-align: center;
  padding: 40px 20px;
  border-top: 1px solid rgb(130, 130, 130);
  border-bottom: 1px solid rgb(130, 130, 130);
  background: linear-gradient(
    90deg,
    rgba(190, 190, 190, 1) 0%,
    rgba(243, 243, 243, 1) 25%,
    rgba(243, 243, 243, 1) 64%,
    rgba(190, 190, 190, 1) 100%
  );
}
.greyLightBack h1 {
  text-align: center;
  /* color: rgb(100, 100, 100); */
  color: #ae6e3d;
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.7);
  font-family: LibreBaskerville-Regular !important;
  text-transform: uppercase !important;
  font-size: 1.6rem;
  letter-spacing: 0.15em;
  word-spacing: 0em;
  line-height: 1.2em;
  text-transform: none;
  font-weight: normal;
}
.greyLightBack h2 {
  text-align: center;
  /* color: rgb(100, 100, 100); */
  color: #323232;
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.7);
  font-family: Arial, Helvetica, sans-serif !important;
  /* text-transform: uppercase !important; */
  font-size: 1.2rem;
  letter-spacing: 0.15em;
  word-spacing: 0em;
  line-height: 1.8em;
  text-transform: none;
  font-weight: normal;
}
.message {
  color: #700000;
  /* box-shadow: inset 0px 0px 5px 2px rgb(0, 0, 0); */
  /* background-color: rgb(232, 240, 254, 0.7) !important; */
  border-radius: 5px;
  padding: 15px;
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.8);
  font-family: Arial, Helvetica, sans-serif !important;
  text-transform: uppercase !important;
  font-size: 1em;
  margin-bottom: 5px;
  letter-spacing: 0.15em;
  word-spacing: 0em;
  line-height: 1.6em;
  text-transform: none;
  font-weight: normal;
}
.dateBox {
  background-color: white;
  border-radius: 10px;
  padding: 20px 10px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.75);
}

/* ***** MOBILE ***** */
@media (max-width: 700px) {
  .greyLightBack {
    padding: 20px 10px;
  }
  .greyLightBack h1 {
    font-size: 1.2rem;
  }
  .greyLightBack h2 {
    font-size: 1em;
  }
}
