.containerContact {
  /* display: inline-block; */
  max-width: 1200px;
  position: relative;
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
  /* width: 100%;
    height: 100vh; */
  padding: 80px 10px;
}
.backgroundImage {
  /* filter: brightness(40%); */
  width: 100%;
  background-position: top right;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
}
.centered {
  padding: 20px 0px 20px 0;
  text-align: center;
}
.FormContainer {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px 2px rgb(0, 0, 0);
  /* padding: 20px; */
}
.contactGrid {
  display: grid;
  grid-template-columns: 50% 50%; /* 2 columns */
  box-sizing: border-box;
  justify-content: center;
  column-gap: 20px;
  padding: 0px 40px;
}
.titleContact {
  /* color: #323232; */
  color: white;
  padding: 10px 15px;
  text-decoration: underline;
  font-family: LibreBaskerville-Regular, georgia, Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  font-weight: 100;
  font-size: 1.6rem;
}
.titleMessage {
  /* text-align: center; */
  /* color: rgb(100, 100, 100); */
  color: #ae6e3d !important;
  font-family: LibreBaskerville-Regular !important;
  text-transform: uppercase !important;
  font-size: 1.3em;
  padding: 0px 10px;
  letter-spacing: 0.15em;
  word-spacing: 0em;
  line-height: 1.2em;
  text-transform: none;
  font-weight: normal;
}
.contactGrid h1 {
  /* color: rgb(50, 50, 50); */
  color: black;
  text-shadow: 2.2px 2.2px 2px rgba(0, 0, 0, 0.8);
  font-family: LibreBaskerville-Regular, georgia, Arial, Helvetica, sans-serif;
  /* text-transform: uppercase !important; */
  /* border-bottom: 2px solid currentColor; */
  display: inline-block;
  font-size: 2.5rem;
  letter-spacing: 0.15em;
  word-spacing: 0em;
  line-height: 1.5em;
  text-transform: none;
  font-weight: normal;
}
.contactGrid h2 {
  /* color: #323232; */
  color: rgb(22, 78, 129) !important;
  /* text-decoration: underline; */
  font-family: LibreBaskerville-Regular, georgia, Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  font-weight: 100;
  font-size: 1.4rem;
  margin-bottom: 5px;
  text-transform: uppercase;
}
/* .underlineClass {
  text-decoration: underline;
} */
.containerInfos {
  width: 100%;
  margin: 15px 0;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 1.2em;
  border: none;
  outline: none;
  background: transparent;
  background-color: transparent !important;
  border-color: rgb(50, 50, 50);
  border-width: 0px;
  box-shadow: inset 0px 0px 5px 2px rgb(0, 0, 0);
  appearance: menulist-button;
  background-color: rgb(232, 240, 254, 0.5) !important;
  background-image: none !important;
  color: -internal-light-dark(black, white) !important;
}
.contactGrid h3 {
  /* text-align: center; */
  /* color: rgb(100, 100, 100); */
  color: rgb(20, 20, 20);
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.7);
  font-family: LibreBaskerville-Regular !important;
  /* text-transform: uppercase !important; */
  font-size: 1.2em;
  letter-spacing: 0.1em;
  word-spacing: 0em;
  line-height: 1.3em;
  text-transform: none;
  font-weight: normal;
}
.FontWebsite {
  color: rgb(0, 0, 0) !important;
}
.FontWebsite:hover {
  color: rgb(129, 22, 22) !important;
}
.EmailLog {
  margin-right: 15px;
  transform: translateY(25%);
}
.SubmitBtn {
  text-align: right;
}
.contactGrid input,
textarea {
  width: 100%;
  margin: 5px 0;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 1.2em;
  /* border: none; */
  background: transparent;
  border-radius: 5px;
  background-color: transparent !important;
  /* border-bottom: 1px solid rgb(50, 50, 50); */
  outline: none;
  box-sizing: border-box;
  /* border-color: rgb(50, 50, 50); */
  /* border-width: 0px; */
  /* box-shadow: inset 0px 0px 5px 2px rgb(0, 0, 0); */
}
.contactGrid input,
textarea:focus {
  width: 100%;
  /* margin: 15px 0; */
  /* border-radius: 5px; */
  padding: 10px 10px;
  font-size: 1.2em;
  /* border: none; */
  background: transparent;
  border-radius: 5px;
  background-color: transparent !important;
  /* border-bottom: 1px solid rgb(50, 50, 50); */
  outline: none;
  box-sizing: border-box;
  /* border-color: rgb(50, 50, 50); */
  /* border-width: 0px; */
  /* box-shadow: inset 0px 0px 5px 2px rgb(0, 0, 0); */
}
.contactGrid input,
textarea:active {
  width: 100%;
  /* margin: 15px 0; */
  /* border-radius: 5px; */
  padding: 10px 10px;
  font-size: 1.2em;
  /* border: none; */
  background: transparent;
  background-color: transparent !important;
  border-radius: 5px;
  /* border-bottom: 1px solid rgb(50, 50, 50); */
  outline: none;
  box-sizing: border-box;
  /* border-color: rgb(50, 50, 50); */
  /* border-width: 0px; */
  /* box-shadow: inset 0px 0px 5px 2px rgb(0, 0, 0); */
}
.contactGrid input,
textarea:valid {
  width: 100%;
  margin: 5px 0;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 1.2em;
  border: none;
  outline: none;
  background: transparent;
  background-color: transparent !important;
  border-color: rgb(50, 50, 50);
  border-width: 0px;
  box-shadow: inset 0px 0px 5px 2px rgb(0, 0, 0);
  appearance: menulist-button;
  background-color: rgb(232, 240, 254, 0.5) !important;
  background-image: none !important;
  color: -internal-light-dark(black, white) !important;
}
::placeholder {
  color: rgb(0, 0, 0);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.contactGrid textarea {
  min-height: 150px;
  resize: none;
  box-shadow: inset 0px 0px 5px 2px rgb(0, 0, 0);
  background-color: rgb(232, 240, 254, 0.5) !important;
  background-image: none !important;
  color: -internal-light-dark(black, white) !important;
}
.contactGrid textarea:valid {
  appearance: menulist-button;
  background-color: rgb(232, 240, 254) !important;
  background-image: none !important;
  color: -internal-light-dark(black, white) !important;
}
.MessageToUser {
  color: #700000;
  box-shadow: inset 0px 0px 5px 2px rgb(0, 0, 0);
  background-color: rgb(232, 240, 254, 0.7) !important;
  border-radius: 5px;
  padding: 15px;
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.8);
  font-family: LibreBaskerville-Regular !important;
  text-transform: uppercase !important;
  font-size: 1em;
  margin-bottom: 5px;
  letter-spacing: 0.15em;
  word-spacing: 0em;
  line-height: 1.2em;
  text-transform: none;
  font-weight: normal;
}
.spinnerContainer {
  margin: auto;
  text-align: center;
}
.colorsWebSite {
  color: #8f2c31;
  color: #0155a0; /* hover */
  color: #4d7994; /* Section Title */
  color: #444444;
  color: #fb5f2e; /* DISCOUNT */
  background-color: #31ae75;
  color: #e8ba3c;
  background-color: #145a83; /* Comprar Declaração Box */
  background-color: #033959; /* FOOTER */
  background-color: #f3f3f3; /* SectionGrey */
  background-color: #535353; /* SectionGreyDark */
  background-color: #145a83; /* SectionBlueDark */
}
.centeredContent {
  text-align: center;
}
.mobileOnly {
  display: none;
}
/* @media (max-width: 800px) {
  .contactGrid h3 {
    font-size: 1em;
  }
} */
/* ***** MOBILE ***** */
@media (max-width: 700px) {
  .containerContact {
    padding: 20px 0px;
  }
  .EmailLog {
    margin-right: 5px;
  }
  .mobileOnly {
    display: inline;
  }
  .desktopOnly {
    display: none;
  }
  .contactGrid {
    grid-template-columns: 100%;
    padding: 10px 15px;
  }
  .backgroundImage {
    /* background-position: top center; */
    background-position: 80%;
  }
}
